@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
    --color1:#14213D;
    --color2:#FCA311;
    --color3:#E5E5E5;
    --color4:#FFD4CE;
    --color5:#0394f5;
    --color6:#e7dfdd9a;
    --color7:#f0e4e4;
    --color8:#d81818;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}


.mainbar{
    height: 100vh;
    width: 100%;
}

.mainbar .header-nav{
    height: 5vh;
    background-color: var(--color2);
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    align-content: center;
    position: relative;
}

.mainbar .header-nav .title{
    grid-column: 1/ 3;
    text-align: center;
    color: var(--color1);
    text-transform: uppercase;
}   

.mainbar .header-nav .profile{
    grid-column: 3/ 3;
    width: 30px;
    margin-right:50px;
}
.mainbar .header-nav .profile img{
        height: 100%;
        width:100%;
        border-radius: 50%;
}


.header-nav .sub-menu-wrap{
    position: absolute;
    top: 89%;
    right: 4%;
    width: 140px;
    z-index: 1;
    max-height: 0px;
    transition: max-height 0.3s ease-in-out;
    display: none;
    
  
}

.sub-menu-wrap.open-menu{
    max-height: 400px;
    display: inline;
}


.header-nav .sub-menu-wrap .sub-menu .sub-menu-link{
    /* display: flex;
    align-items: center;
    justify-content: center;  */
    text-decoration: none;
    font-size: 13px;
    color: var(--color2);
    background: var(--color7);
    border-radius: 10px 0px 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
}

.header-nav .sub-menu-wrap .sub-menu .sub-menu-link:hover{
    color: var(--color8);
    border: 1px solid var(--color8);
    background: var(--color7);
}




.profile{
   cursor: pointer;
}